@tailwind base;
@tailwind utilities;
@tailwind components;

*::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 95%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 93%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 91%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 88%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 85%;
  }
}

.Toastify__progress-bar {
  background-color: white;
}
.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
  opacity: 1;
  align-self: flex-start;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.Toastify__close-button--default {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: white;
  height: 2rem;
  width: 2rem;
  stroke: white;
  stroke-width: 0.5;
  transition: 0.3s ease;
}
